.checkbox {

    

    input {
        position: absolute;
        top: 0;
        left: 0;
        pointer-events: none;
        opacity: 0;
        visibility: hidden;
        z-index: -1;
    }

    label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        cursor: pointer;

        span {
            font-weight: 600;
            font-size: 14px;
            line-height: 19px;
            color: var(--purp);
        }

        .icon {
            width: 18px;
            height: 18px;
            background: #ECE9F2;
            border-radius: 2px;
            border: 1px solid #ECE9F2;
            display: flex;
            align-items: center;
            justify-content: center;
            @include def-anim;

            &__in {
                @include def-anim;
                transform: scale(0);
            }
        }
    }

    input:checked ~ label {

        .icon {
            background-color: var(--purp);

            &__in {
                transform: scale(1);
            }
        }
    }

    input:disabled ~ label {
        pointer-events: none;
        
        .icon {
            opacity: .5;
        }
    }
}